<!DOCTYPE html>
<!-- 木曜日-->
<html>
  <head>
    <meta charset="utf-8">
    <title>Class Log</title>
    <link rel="stylesheet" href="../stylesheet.css">
  </head>
  <body>
    <div class="header">
      <a class="header-logo" href="../index.html">Class Log</a>
      <div class="header-list">
        
          <a class="header-menu"href="../Tags/index.html">教科一覧</a></li>
        
      </div>
    </div>

    <div class="main">
     <h2 class="video-title">[1]化学</h2>
     <video src="./kagaku.mp4" controls width="100%"></video>
     <h2 class="video-title">[2]G & W</h1>
     <video src="./gw.mp4" controls width="100%"></video>
    </div>
    </body>
</html>